// Highlight01

.highlight01_wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  padding-bottom: 100px;
  background: url("../../assets/images/restaurante_highlight01_detail.png") top
    no-repeat;
  background-size: cover;
}

.highlight01_card_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  flex-wrap: wrap;
}

#highlight01_card {
  height: 600px;
  padding-right: 200px;
}

.highlight01_text_container {
  width: 650px;
}

.highlights_title {
  font-family: "Grand Hotel", cursive;
  font-size: 120px;
  font-weight: 400;
  color: var(--primary_yellow);
}

#highlight01_text {
  font-size: 28px;
}

// Statistics

.statistics_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url("../../assets/images/restaurante_statistics_bg.png") center
    no-repeat;
  background-size: 90%;
  background-color: var(--primary_gray);
}

#statistics_text {
  width: 60%;
  font-size: 28px;
  text-align: center;
}

.statistics_cards_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 50px;
}

.statistics_card {
  width: 250px;
  height: 250px;
  border: 8px solid var(--primary_white);
  background-color: var(--primary_gray);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-size: 28px;
  font-weight: 700;
  margin: 30px;

  span {
    font-size: 50px;
    color: var(--primary_yellow);
  }
}

// highlight02

.highlight02_wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  padding-bottom: 150px;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url("../../assets/images/restaurante_highlight01_detail.png")
      top no-repeat;
    background-size: cover;
    transform: rotate(180deg);
  }
}

.highlight02_card_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

#highlight02_card {
  height: 600px;
  padding-left: 200px;
  padding-left: 0 !important;
}

// media query 720p and 1366x768
@media (max-width: 1366px) {
  // Highlight01
  #highlight01_card {
    width: 300px;
    height: auto;
    padding-right: 100px;
  }

  .highlight01_text_container {
    width: 400px;
  }

  .highlights_title {
    font-size: 70px;
  }

  #highlight01_text {
    font-size: 20px;
  }

  // Statistics

  #statistics_text {
    font-size: 20px;
  }

  .statistics_cards_container {
    padding-top: 0;
  }

  .statistics_card {
    width: 150px;
    height: 150px;
    border: 4px solid var(--primary_white);
    font-size: 20px;

    span {
      font-size: 35px;
    }
  }

  //Highlight02

  #highlight02_card {
    height: 300px;
    padding-left: 100px;
  }
}

// media query MOBILE
@media (max-width: 431px) {
  // Highlight01
  .highlight01_wrapper {
    margin-bottom: -100px;
  }

  #highlight01_card {
    padding-right: 0;
    padding-bottom: 20px;
    width: 200px;
  }
  .highlights_title {
    font-size: 50px;
  }

  .highlight01_text_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #highlight01_text {
      width: 70%;
      text-align: justify;
      font-size: 16px;
    }
  }

  //Statistics

  .statistics_wrapper {
    padding-top: 100px;
    padding-bottom: 100px;
    height: auto;
  }

  #statistics_text {
    width: 70%;
    text-align: justify;
  }

  .statistics_card {
    width: 150px;
    height: 150px;
    margin: 10px;
  }

  //Highlight02

  .highlight02_wrapper {
    margin-top: -100px;
  }

  .highlight02_card_container {
    flex-direction: column;

    #highlight02_card {
      padding-bottom: 20px;
      width: 200px;
      height: 200px;
      order: 1;
    }

    .highlight01_text_container {
      order: 2;
    }
  }
}
