.bestseller_wrapper {
  height: 100vh;
  color: var(--primary_gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    margin: 0px;
  }

  .bestseller_text {
    margin-bottom: 100px;
    font-size: 20px;
  }
}

.bestseller_container {
  max-width: 1366px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bestseller_title {
  font-family: "Grand Hotel", cursive;
  font-size: 70px;
  font-weight: 400;
}

.bestseller_text {
  font-size: 28px;
  text-align: center;
  width: 70%;
}

.bestseller_cards_wrapper {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  flex-wrap: wrap;
}

.bestseller_card_container {
  width: 250px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h3 {
    font-family: "Grand Hotel", cursive;
    font-size: 40px;
    margin: 0;
    margin-top: 20px;
  }
  p {
    font-size: 14px;
  }
}

// media query 720p and 1366x768
@media (max-width: 1366px) {
  .bestseller_title {
  }

  .bestseller_text {
  }

  .bestseller_card_container {
   
  }
}

// media query MOBILE
@media (max-width: 431px) {
  .bestseller_wrapper {
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;

    .bestseller_title {
      font-size: 50px;
    }

    .bestseller_text {
      font-size: 16px;
      width: 80%;
      text-align: justify;
      margin-bottom: 20px;
    }
  }

  .bestseller_card_container {
    padding-top: 30px;
    h3 {
      font-size: 30px;
    }
  }
}
