.subscribe_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("../../assets/images/restaurante_statistics_bg.png") center
    no-repeat;
  background-size: 70%;
  color: var(--primary_gray);
}
.subscribe_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1366px;
}

.subscribe_title {
  font-family: "Grand Hotel", cursive;
  font-size: 70px;
  font-weight: 400;
}

.subscribe_text {
  width: 70%;
  font-size: 20px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.subscribe_form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 50px;
}
#subscribe_input {
  height: 40px;
  width: 70%;
  border: 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 5px 29px 0px;
  padding-left: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;

  &:focus {
    outline: 0;
  }
}

#subscribe_submit_button {
  width: 30%;
  height: 40px;
  border: 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 5px 29px 0px;
  background-color: var(--primary_yellow);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    background-color: var(--secondary_yellow);
  }
}

// media query 720p and 1366x768
@media (max-width: 1366px) {
  .subscribe_wrapper {
    background-size: 90%;
  }
  .subscribe_text {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

// media query MOBILE
@media (max-width: 431px) {
  .subscribe_wrapper {
    padding-top: 150px;
    padding-bottom: 150px;
    height: auto;
  }
  .subscribe_title {
    font-size: 50px;
  }

  .subscribe_text {
    font-size: 16px;
    text-align: justify;
  }

  .subscribe_form {
    flex-direction: column;
    padding: 20px;
    width: 70%;
  }
  #subscribe_input {
    width: 100%;
    margin-bottom: 20px;
  }
  #subscribe_submit_button {
    width: 200px;
    height: 50px;
  }
}
