.home_wrapper {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  background-color: var(--primary_gray);
}

.home_background {
  height: 100%;
}
.home_detail {
  position: absolute;
  height: 100%;
  left: 28%;
}

.home_text_container {
  width: 60%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .home_title {
    font-family: "Grand Hotel", cursive;
    font-size: 150px;
    font-weight: 400;
    color: var(--primary_yellow);
  }
  .home_text {
    width: 75%;
    font-size: 28px;
  }
}

.submit_button {
  width: 300px;
  height: 60px;
  background-color: var(--primary_yellow);
  color: var(--primary_gray);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  border-radius: 5px;
  cursor: pointer;

  font-size: 20px;
  font-weight: 700;

  &:hover {
    background-color: var(--secondary_yellow);
  }
}

// media query 720p and 1366x768
@media (max-width: 1366px) {
  .home_text_container {
    .home_title {
      font-size: 100px;
    }

    .home_text {
      font-size: 20px;
    }
  }

  .submit_button {
    width: 200px;
    height: 50px;
    font-size: 16px;
  }
}
