.home_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background-color: var(--primary_gray);
}

.home_background {
  height: 100%;
}
.home_detail {
  position: absolute;
  height: 100%;
  left: 28%;
}

.home_text_container {
  width: 60%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .home_title {
    font-family: "Grand Hotel", cursive;
    font-size: 100px;
    font-weight: 400;
    color: var(--primary_yellow);
  }
  .home_text {
    width: 60%;
    font-size: 20px;
  }
}

.submit_button {
  width: 200px;
  height: 50px;
  background-color: var(--primary_yellow);
  color: var(--primary_gray);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  border-radius: 5px;
  cursor: pointer;

  font-size: 16px;
  font-weight: 700;

  &:hover {
    background-color: var(--secondary_yellow);
  }
}

// media query 720p and 1366x768
@media (max-width: 1366px) {
  .home_text_container {
    .home_text {
      width: 75%;
    }
  }

  .submit_button {    
    margin-top: 30px;
  }
}

// media query MOBILE
@media (max-width: 431px) {
  .home_wrapper {
    background-color: var(--primary_gray);
    background: url("../../assets/images/home_bg_MOBILE.png") right no-repeat;
    background-size: cover;
    justify-content: center;
  }
  .home_background {
    display: none;
  }
  .home_detail {
    display: none;
  }
  .home_text_container {
    background-color: var(--primary_gray);
    padding: 20px;
    padding-bottom: 40px;
    width: 70%;
    border: 2px solid var(--primary_yellow);
    border-radius: 10px;

    align-items: center;
    .home_title {
      font-size: 80px;
    }

    .home_text {
      font-size: 18px;
      width: 100%;
      text-align: justify;
    }
  }
}
