.navbar_wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 3;
  flex-wrap: wrap;
}

.navbar_container {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1900px;
}

.navbar_logo {
  background-color: var(--primary_yellow);
  color: var(--primary_gray);
  border-radius: 40px;
  padding: 15px;
  font-size: 16px;
}

.navbar_link {
  padding: 15px;
  font-size: 12px;
  border: 2px solid var(--primary_white);
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;

  &:hover {
    color: var(--primary_gray);
    background-color: var(--primary_yellow);
    border: none;
  }
}

// media query 720p and 1366x768
@media (max-width: 1366px) {
  .navbar_link {
    border: 1px solid var(--primary_white);
  }
}
