.footer_wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--primary_gray);
  padding-top: 100px;
  padding-bottom: 100px;
  flex-wrap: wrap;

  h4 {
    font-size: 28px;
    font-weight: 500;
  }
}

.footer_card_container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.footer_socialmedia_card {
  display: flex;
  width: 70%;
  justify-content: space-evenly;
}

.footer_socialmedia_icon {
  width: 50px;
  cursor: pointer;
}

.footer_email_contact {
  font-size: 20px !important;
  padding: 10px;
  font-weight: 400 !important;

  a {
    text-decoration: none;
    color: var(--primary_yellow);
  }
}

// media query 720p and 1366x768
@media (max-width: 1366px) {
  .footer_wrapper {
    padding-top: 50px;
    padding-bottom: 50px;

    h4 {
      font-size: 20px;
    }
  }

  #footer_logo {
    height: 400px;
  }
  
  .footer_socialmedia_card {
    width: 50%;
  }

  .footer_socialmedia_icon {
    width: 30px;
  }

  .footer_email_contact {
    font-size: 14px !important;
  }
}


// media query MOBILE
@media (max-width: 431px) { 
  #footer_logo {
    width: 200px;
    height: auto;
  }

  .footer_wrapper {
    justify-content: center;
    h4 {
      font-size: 16px;
    }

    .footer_email_contact {
      width: 65%;
      text-align: justify;
    }
  }
}